asttokens
colorama
comm
decorator
exceptiongroup
executing
ipython
ipython_pygments_lexers
ipywidgets
jedi
jupyterlab_widgets
matplotlib-inline
parso
pickleshare
prompt_toolkit
pure_eval
Pygments
stack_data
traitlets
typing_extensions
wcwidth
widgetsnbextension
